@import url('https://fonts.googleapis.com/css2?family=Phudu:wght@400;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: 0;

}

body{
    
    background: rgb(248,111,3);
    background: linear-gradient(0deg, rgba(248,111,3,1) 0%, rgba(248,222,34,1) 100%, rgba(255,164,27,1) 100%);
}

.main__heading{
    font-size: 44px;
    color: #F94C10;
    text-align: center;
    font-family: 'phudu' ,cursive;
    padding: 10px 10px;
}

.image{
    width: 375px;
}

.para{
    font-weight: 300;
    color: #962803;
    font-size: 18px;
    text-align: center;
}

.smalll {
    width: auto;
    height: 75px;
    background-image: url(./simpleb.jpg);
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ahead {
    color: #F94C10;
    font-family: 'Phudu', cursive;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    border: 1px solid #fff;
    background-color: #fff;
    padding: 2px;
}

.ah2{
    font-size: 32px;
    color: #F94C10;
    font-family: 'phudu',cursive;
    text-align: center;
    padding-top: 20px;
}

.ap{
    font-family: 'phudu',cursive;
    text-align: center;
    font-size: 18px;
    color: #962803;
    padding: 5px;
}

.aimage {
    width: 375px;
}

.bh2{
    font-size: 32px;
    color: #F94C10;
    font-family: 'phudu',cursive;
    text-align: center;
    padding-top: 20px;
}

.bp{
    font-family: 'phudu',cursive;
    text-align: center;
    font-size: 18px;
    color: #962803;
    padding: 5px;
}

.bimage {
    width: 375px;
}

.ch2{
    font-size: 32px;
    color: #F94C10;
    font-family: 'phudu',cursive;
    text-align: center;
    padding-top: 20px;
}

.cp{
    font-family: 'phudu',cursive;
    text-align: center;
    font-size: 18px;
    color: #962803;
    padding: 5px;
}

.cimage {
    width: 375px;
}

.chead{
    color: #F94C10;
    font-family: 'Phudu', cursive;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border: 1px solid #fff;
    background-color: #fff;
    padding: 2px;
}

.small{
    width: auto;
    height: 75px;
    background-image: url(./b2.jpg);
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.cardcard{
    padding-top: 20px;
    padding-bottom: 20px;
}

.card {
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #fff;
    width: 375px;
    height: 290px;
    gap: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
    font-size: 18px;

}

.card1{
    padding-bottom: 20px;
}

.bhead{
    color: #F94C10;
    font-family: 'Phudu', cursive;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border: 1px solid #fff;
    background-color: #fff;
    padding: 2px;
}

.smallll{
    width: auto;
    height: 75px;
    background-image: url(./b2.jpg);
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
  
.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px; 
    padding-top: 30px;
}
  
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}
  
.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
  
  .gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  

  }
  
  .gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
  

  }
  
  .gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
  
 
  }

  .gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
  

  }
  
  .gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
  

  }

.foot{
    font-size: 18px;
}

@media (min-width:768px) {

    @import url('https://fonts.googleapis.com/css2?family=Phudu:wght@400;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;

}

body{
    
    background: rgb(248,111,3);
    background: linear-gradient(0deg, rgba(248,111,3,1) 0%, rgba(248,222,34,1) 100%, rgba(255,164,27,1) 100%);
}

.main__heading{
    font-size: 74px;
    color: #F94C10;
    text-align: center;
    font-family: 'phudu' ,cursive;
    padding: 30px 10px;
}

.image{
    width: 768px;
    padding-top: 10px;
}

.para{
    font-weight: 400;
    color: #962803;
    font-size: 24px;
    text-align: center;
}

.smalll {
    width: auto;
    height: 150px;
    background-image: url(./simpleb.jpg);
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ahead {
    color: #F94C10;
    font-family: 'Phudu', cursive;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    border: 1px solid #fff;
    background-color: #fff;
    padding: 15px;
}

.ah2{
    font-size: 64px;
    color: #F94C10;
    font-family: 'phudu',cursive;
    text-align: center;
    padding-top: 20px;
}

.ap{
    font-family: 'phudu',cursive;
    text-align: center;
    font-size: 24px;
    color: #962803;
    padding: 5px;
}

.aimage {
    padding-top: 10px;
    width: 768px;
}

.bh2{
    font-size: 64px;
    color: #F94C10;
    font-family: 'phudu',cursive;
    text-align: center;
    padding-top: 20px;
}

.bp{
    font-family: 'phudu',cursive;
    text-align: center;
    font-size: 24px;
    color: #962803;
    padding: 5px;
}

.bimage {
    padding-top: 10px;
    width: 768px;
}

.ch2{
    font-size: 64px;
    color: #F94C10;
    font-family: 'phudu',cursive;
    text-align: center;
    padding-top: 20px;
}

.cp{
    font-family: 'phudu',cursive;
    text-align: center;
    font-size: 24px;
    color: #962803;
    padding: 5px;
}

.cimage {
    padding-top: 10;
    width: 768px;
    padding-bottom: 25px;
}

.small{
    width: auto;
    height: 150px;
    background-image: url(./simpleb.jpg);
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    
}

.chead{
    color: #F94C10;
    font-family: 'Phudu', cursive;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    border: 1px solid #fff;
    background-color: #fff;
    padding: 15px;
}

.cardcard{
    padding-top: 30px;
    padding-bottom: 30px;
}

.card {
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #fff;
    width: 768px;
    height: 550px;
    gap: 0;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 20px 16px;
    font-size: 18px;

}

.card1{
    padding-bottom: 20px;
}

.smallll{
    width: auto;
    height: 150px;
    background-image: url(./simpleb.jpg);
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    
}

.bhead{
    color: #F94C10;
    font-family: 'Phudu', cursive;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    border: 1px solid #fff;
    background-color: #fff;
    padding: 15px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 25px; 
    padding-top: 30px;
    padding: 10px;
}
  
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}
  
.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
  
  .gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  

  }
  
  .gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
  

  }
  
  .gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
  
 
  }

  .gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
  

  }
  
  .gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
  

  }

}

@media (min-width:1200px){
    @import url('https://fonts.googleapis.com/css2?family=Phudu:wght@400;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.main__heading{
    font-size: 64px;
    color: #F94C10;
}

.para{
    font-weight: 300;
    color: #962803;
    font-size: 20px;

}

div {
    display: inline-block;
    margin: 10px;
    
}

body {
    box-sizing: 0;
    background: rgb(248,111,3);
    background: linear-gradient(0deg, rgba(248,111,3,1) 0%, rgba(248,222,34,1) 100%, rgba(255,164,27,1) 100%);
}

.headingg {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

header{
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
}

.image{
    
    width: 450px;
    padding-top: 10px;
}

.main__container {
    width: 100%;
    height: 400px;
    display: flex;
    text-align: center;
    font-family: 'Phudu', cursive;
    font-weight: 400;
    
}

.smalll {
    width: auto;
    height: 250px;
    background-image: url(./simpleb.jpg);
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ahead {
    color: #F94C10;
    font-family: 'Phudu', cursive;
    align-items: center;
    justify-content: center;
    font-size: 128px;
    border: 1px solid #fff;
    background-color: #fff;
    padding: 10px;
}

.chead {
    color: #F94C10;
    font-family: 'Phudu', cursive;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    border: 1px solid #fff;
    background-color: #fff;
    padding: 10px;
}

.ap{
    font-family: 'phudu',cursive;
    text-align: center;
    font-size: 24px;
    color: #962803;
}
.all{
    display: flex;
    flex-direction: row-reverse;
    padding-top: 60px;
}

.ah2{
    font-size: 54px;
    color: #F94C10;
    font-family: 'phudu',cursive;
    text-align: center;
    padding-top: 70px;
}

.aimage {
    width: 500px;
}


.bp{
    font-family: 'phudu',cursive;
    text-align: center;
    font-size: 28px;
    color: #962803;
}
.alll{
    display: flex;
    flex-direction:row;
}

.bh2{
    font-size: 54px;
    color: #F94C10;
    font-family: 'phudu',cursive;
    text-align: center;
    padding-top: 70px;
}

.bimage {
    width: 500px;
}


.cp{
    font-family: 'phudu',cursive;
    text-align: center;
    font-size: 28px;
    color: #962803;
}
.allll{
    display: flex;
    flex-direction:row-reverse;
    padding-bottom: 60px;
}

.ch2{
    font-size: 54px;
    color: #F94C10;
    font-family: 'phudu',cursive;
    text-align: center;
    padding-top: 90px;
}

.cimage {
    width: 500px;
}

.small {
    width: auto;
    height: 200px;
    background-image: url(./b2.jpg);
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.card1,.card2{
    padding-left: 30px;
}

.card2 {
    padding-right: 30px;
}

.card {
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #fff;
    width: 500px;
    height: 400px;
    gap: 100px;
}
  
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
    font-size: 18px;

}

.cardcard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: auto;
    padding-bottom: auto;
}

a {
    text-decoration: none;
}

.smallll {
    width: auto;
    height: 200px;
    background-image: url(./b2.jpg);
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bhead {
    color: #F94C10;
    font-family: 'Phudu', cursive;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    border: 1px solid #fff;
    background-color: #fff;
    padding: 10px;
}








  

  .container {
    width: 60%;
    margin: 2rem auto; 
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem; 
    padding-top: 80px;
    
  }
  
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
  }
  
  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  

  }
  
  .gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  

  }
  
  .gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
  

  }
  
  .gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
  
 
  }

  .gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
  

  }
  
  .gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
  

  }

}

@media (min-width: 1920px){
    @import url('https://fonts.googleapis.com/css2?family=Phudu:wght@400;900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.main__heading{
    font-size: 74px;
    color: #F94C10;
}

.para{
    font-weight: 300;
    color: #962803;
    font-size: 28px;

}

div {
    display: inline-block;
    margin: 10px;
    
}

body {
    box-sizing: 0;
    background: rgb(248,111,3);
    background: linear-gradient(0deg, rgba(248,111,3,1) 0%, rgba(248,222,34,1) 100%, rgba(255,164,27,1) 100%);
}

.headingg {
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

header{
    padding-top: 25px;
    padding-right: 25px;
    padding-left: 25px;
}

.main__container {
    width: 100%;
    height: 400px;
    display: flex;
    text-align: center;
    font-family: 'Phudu', cursive;
    font-weight: 400;
    
}

.smalll {
    width: auto;
    height: 250px;
    background-image: url(./simpleb.jpg);
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ahead {
    color: #F94C10;
    font-family: 'Phudu', cursive;
    align-items: center;
    justify-content: center;
    font-size: 128px;
    border: 1px solid #fff;
    background-color: #fff;
    padding: 10px;
}

.chead {
    color: #F94C10;
    font-family: 'Phudu', cursive;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    border: 1px solid #fff;
    background-color: #fff;
    padding: 10px;
}

.ap{
    font-family: 'phudu',cursive;
    text-align: center;
    font-size: 28px;
    color: #962803;
}
.all{
    display: flex;
    flex-direction: row-reverse;
    padding-top: 60px;
}

.ah2{
    font-size: 64px;
    color: #F94C10;
    font-family: 'phudu',cursive;
    text-align: center;
    padding-top: 120px;
}

.aimage {
    width: 600px;
}


.bp{
    font-family: 'phudu',cursive;
    text-align: center;
    font-size: 28px;
    color: #962803;
}
.alll{
    display: flex;
    flex-direction:row;
}

.bh2{
    font-size: 64px;
    color: #F94C10;
    font-family: 'phudu',cursive;
    text-align: center;
    padding-top: 140px;
}

.bimage {
    width: 600px;
}


.cp{
    font-family: 'phudu',cursive;
    text-align: center;
    font-size: 28px;
    color: #962803;
}
.allll{
    display: flex;
    flex-direction:row-reverse;
    padding-bottom: 60px;
}

.ch2{
    font-size: 64px;
    color: #F94C10;
    font-family: 'phudu',cursive;
    text-align: center;
    padding-top: 90px;
}

.cimage {
    width: 600px;
}

.small {
    width: auto;
    height: 200px;
    background-image: url(./b2.jpg);
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.card1{
    padding-left: 50px;
}

.card {
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: #fff;
    width: 500px;
    height: 400px;
    gap: 100px;
}
  
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
    font-size: 18px;

}

.cardcard{
    display:inline-flexbox;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 80px;
    padding-bottom: 80px;
    column-gap: 250px;
}

a {
    text-decoration: none;
}

.smallll {
    width: auto;
    height: 200px;
    background-image: url(./b2.jpg);
    background-position: center;
    background-size: contain;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bhead {
    color: #F94C10;
    font-family: 'Phudu', cursive;
    align-items: center;
    justify-content: center;
    font-size: 100px;
    border: 1px solid #fff;
    background-color: #fff;
    padding: 10px;
}








  

  .container {
    width: 60%;
    margin: 2rem auto; 
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 1.5rem; 
    padding-top: 80px;
  }
  
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
  }
  
  .gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  

  }
  
  .gallery__item--2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
  

  }
  
  .gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 6;
  

  }
  
  .gallery__item--4 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;
  
 
  }

  .gallery__item--5 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 9;
  

  }
  
  .gallery__item--6 {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 6;
    grid-row-end: 9;
  

  }

  footer{
    padding-top: 25px;
    height: 100px;
  }

  .x {
    color: black;
    font-size: 16px;
    font-weight: bold;
    gap: 10px;
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }



}

@media (min-width:3840px){

    .main__heading{
        font-size: 130px;
        color: #F94C10;
    }
    
    .para{
        font-weight: 300;
        color: #962803;
        font-size: 58px;
        padding-top: 50px;
    
    }

    .image{
        width: 1000px;
    }
    
    div {
        display: inline-block;
        margin: 10px;
        
    }
    
    body {
        box-sizing: 0;
        background: rgb(248,111,3);
        background: linear-gradient(0deg, rgba(248,111,3,1) 0%, rgba(248,222,34,1) 100%, rgba(255,164,27,1) 100%);
    }
    
    .headingg {
        display: flex;
        align-items: center;
        justify-content: center;
        
        
    }
    
    header{
        padding-top: 25px;
        padding-right: 25px;
        padding-left: 25px;
    }
    
    .main__container {
        width: 100%;
        height: 800px;
        display: flex;
        text-align: center;
        font-family: 'Phudu', cursive;
        font-weight: 400;
        margin-bottom: 200px;
        margin-top: 150px;
        
    }
    
    .smalll {
        width: auto;
        height: 500px;
        background-image: url(./simpleb.jpg);
        background-position: center;
        background-size: contain;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .ahead {
        color: #F94C10;
        font-family: 'Phudu', cursive;
        align-items: center;
        justify-content: center;
        font-size: 250px;
        border: 1px solid #fff;
        background-color: #fff;
        padding: 10px;
    }
    
    .chead {
        color: #F94C10;
        font-family: 'Phudu', cursive;
        align-items: center;
        justify-content: center;
        font-size: 250px;
        border: 1px solid #fff;
        background-color: #fff;
        padding: 10px;
    }
    

    .padd{
        padding: 20px;
    }
    .ap{
        font-family: 'phudu',cursive;
        text-align: center;
        font-size: 48px;
        color: #962803;
    }
    .all{
        display: flex;
        flex-direction: row-reverse;
        padding:50px;
    }
    
    .ah2{
        font-size: 120px;
        color: #F94C10;
        font-family: 'phudu',cursive;
        text-align: center;
        padding-top: 420px;
    }
    
    .aimage {
        width: 1200px;
    }
    
    
    .bp{
        font-family: 'phudu',cursive;
        text-align: center;
        font-size: 48px;
        color: #962803;
    }
    .alll{
        display: flex;
        flex-direction:row;
        padding:50px;
    }
    
    .bh2{
        font-size: 120px;
        color: #F94C10;
        font-family: 'phudu',cursive;
        text-align: center;
        padding-top: 320px;
    }
    
    .bimage {
        width: 1200px;
    }
    
    
    .cp{
        font-family: 'phudu',cursive;
        text-align: center;
        font-size: 48px;
        color: #962803;
    }
    .allll{
        display: flex;
        flex-direction:row-reverse;
        padding:50px;
    }
    
    .ch2{
        font-size: 120px;
        color: #F94C10;
        font-family: 'phudu',cursive;
        text-align: center;
        padding-top: 220px;
    }
    
    .cimage {
        width: 1200px;
    }
    
    .small {
        width: auto;
        height: 500px;
        background-image: url(./b2.jpg);
        background-position: center;
        background-size: contain;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    
    .card1{
        padding-left: 50px;
    }
    
    .card {
        
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        background-color: #fff;
        width: 1200px;
        height: 900px;
        gap: 100px;
    }
      
      
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    
    .container {
        padding: 2px 16px;
        font-size: 44px;
        font-family: 'phudu',cursive;
        color: #962803;

    
    }
    
    .atag{
        color: blue;
        padding-top: 5px;
    }

    .cardcard{
        display:inline-flexbox;
        flex-direction: row;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 80px;
        padding-bottom: 80px;
        column-gap: 250px;
    }
    
    a {
        text-decoration: none;
    }
    
    .smallll {
        width: auto;
        height: 500px;
        background-image: url(./b2.jpg);
        background-position: center;
        background-size: contain;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .bhead {
        color: #F94C10;
        font-family: 'Phudu', cursive;
        align-items: center;
        justify-content: center;
        font-size: 250px;
        border: 1px solid #fff;
        background-color: #fff;
        padding: 10px;
    }
    
      .container {
        width: 60%;
        margin: 2rem auto; 
      }
      
      .gallery {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 5vw);
        grid-gap: 1.5rem; 
        padding-top: 80px;
      }
      
      .gallery__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block; 
      }
      
      .gallery__item--1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
      
    
      }
      
      .gallery__item--2 {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
      
    
      }
      
      .gallery__item--3 {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 1;
        grid-row-end: 6;
      
    
      }
      
      .gallery__item--4 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 6;
      
     
      }
    
      .gallery__item--5 {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 6;
        grid-row-end: 9;
      
    
      }
      
      .gallery__item--6 {
        grid-column-start: 5;
        grid-column-end: 9;
        grid-row-start: 6;
        grid-row-end: 9;
      
    
      }
    

}